<!DOCTYPE html>
<html ng-app='bu'>

<head>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css' />
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='./dist/styles.css'>
  <title>burntuniverse</title>
</head>

<body ng-controller='textCtrl'>

  <header class='main-header'>

    <a ui-sref='home'><p class='logo'>BURNT UNIVERSE</p></a>
    <div class='line'></div>
  </header>

  <!-- menu directive -->
  <bumenu input="cheese" class='menu' ng-if='test'></bumenu>
  <button class='toggle-color'></button>

    <!-- menu-button -->
  <button class='icon-button' ng-click='test = !test'></button>


<div class='header-buffer'></div>

  <main role='main'>


    <!-- text state -->
      <ui-view></ui-view>
    <!-- Desktop directory state -->
    <!-- directory state -->

    <!-- create state?? -->


  </main>


<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js'></script>
<script src='./dist/js/bundle.js'></script>

</body>

</html>
