@import url('https://fonts.googleapis.com/css?family=Anton');

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: black;
}

/* header */

.main-header {
  width: 100%;
  margin-top: 0px;
  padding-bottom: 20px;
  height: 55px;
  background: black;
  position: fixed;
}

.main-header a {
  text-decoration: none;
}

.logo {
  // position: ;
  font-family: 'Anton', sans-serif;
  color: #4285F4;
  font-size: 28px;
  word-spacing: 0px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: -6px;
  margin-left: 14%;
}

.line {
  // position: ;
  height: 1px;
  width: 80%;
  background: #ccc;
  float: right;
}

.header-buffer {
  height: 77px;
  width: 100%;
}

.text-container {
  margin: auto;
  margin-bottom: 100px;
  // padding-top: 76px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // position: ;
  // padding: ;
  // text-indent: 20px;
}

.blog-title {
  // position: ;
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
  color: #34A853;
  // padding: ;
  font-size: 23px;
  font-family: krungthep;
}

.blog-desc {
  // position: ;
  margin: auto;
  margin-bottom: 15px;
  width: 80%;
  color: #EA4335;
  // padding: ;
  font-size: 15px;
  font-family: krungthep;
}

.blog-text {
text-indent: 15px;
// position: ;
margin: auto;
margin-bottom: 15px;
width: 80%;
color: #ccc;
// padding: ;
font-size: 15px;
font-family: krungthep;
letter-spacing: 1px;
}

/* card container */

.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  // padding-left: ;
  padding-top: 0px;
  width: 80%;
  height: auto;
  // border: 1px solid white;
  margin-bottom: 100px;
}

.directory-card {
  background: #4285F4;
  Width: 47.5%;
  height: 150px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  // transition: width .2s, height .2s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
}

.directory-card:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transform: translateY(-3px);
  cursor: pointer;
}

.card-title {
    font-size: 15px;
    font-family: krungthep;
    color: #ccc;
}

/* main footer */

.main-footer {
  position: fixed;
  width: 100%;
  margin-top: 93vh;
  height: 1px;
  // background-color: black;
  /*opacity: 0.9;*/
}

.icon-button-container {

}

.icon-button {
  position: fixed;
  margin-top: 89vh;
  float: right;
  align-content: center;
  width: 40px;
  height: 40px;
  background-color: #34A853;
  border: none;
  border-radius: 50%;
  margin-left: 75%;
  animation: test 60s infinite;
}

/* sliding menu */

.menu {
  margin-top: 84px;
  right: 0;
  position: fixed;
  width: 80%;
  height: 400px;
  background-color: rgba(234, 67, 53, .9);
  margin-bottom: 30px;
  visibility: visible;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}

/*.menu:hover {
  right: 0;
  position: fixed;
  opacity: .7;
  width: 70%;
  height: 400px;
  background-color: #4285F4;
  margin-top: 90px;
  margin-right: ;
}*/

/* menu icon */

.icon-image {
  width: 30px;
  height: 30px;
}

.link-container {
  right: 0;
  position: absolute;
  height: 35vh;
  width: 40px;
  float: right;
  margin-top: 177px;
  margin-right: 12px;
  // border :1px solid black;
}

.menu-link {
  right: 0;
  float: right;
  margin-bottom: 40px;
  position: relative;
  color: #ccc;
  font-size: 27px;
  font-family: 'Anton', sans-serif;
  text-shadow: 3px 2px 0px black;
  word-spacing: 0px;
  letter-spacing: 1px;
  border-bottom: 3px solid black;

}

// .link-underline {
//   width: 100%;
//   height: 40px;
//   border-bottom: 1px solid black;
// }

search-bar {

}

.search-input {
  position: fixed;
  right: 10px;
  margin-top: 115px;
  height: 40px;
}

@media (min-width: 480px) {
  .text-container {
    width: 80%;
  }
}

@media (min-width: 800px) {
  .search-input {
    margin-right: 320px;
    margin-top: -2px;
  }
  .directory-card {
    width: 23%;
    margin-bottom: 23px;
  }
  .icon-button {
    margin-top: 1vh;
    right: 10px;
    animation: test2 60s infinite;
  }
  .menu {
    width: 20%;
    margin-top: 8px;
    opacity: 1;
    margin-right: 60px;
    height: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .link-container {
    width: 100%;
    position: relative;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu-link {
    margin-left: 20px;
  }

  .card-holder {
    width: 50%;
    margin-top: 50px;
  }
  .text-container {
    width: 55%;
  }
}

@media (min-width: 1300px) {
  .text-container {
    width: 55%;
  }
  .directory-card {
    width: 23%;
    margin-bottom: 23px;
  }

  .menu-icon {
    margin-top: 2.7vh;
    margin-left: 95%;
  }
  .blog-text {
    line-height: 1.5em;
  }
  .main-footer {
    display: none;
  }

  .directory-card {
    width: 18%;
    margin-bottom: 23px;
  }


}


@media (min-width: 1300px) {
  .text-container {
    width: 40%;
  }
  .blog-text {
    line-height: 1.5em;
  }

}



@keyframes color-change {
    0% {color: red;}
    25% {color: yellow;}
    50% {color: blue;}
    75% {color: orange;}
    100% {color: purple;}
    /*to {color: pink;}*/
}

@keyframes test {
  50% {background: #EA4335;}
  100% {background: #34A853;}
}

@keyframes test2 {
  33% {background: #EA4335;}
  66% {background: #4285F4}
  100% {background: #34A853;}
}

@keyframes buttonanimation {
  0% {background: black;}
  0% {background: #323232;}
  0% {background: #666666;}
  0% {background: #999999;}
  0% {background: #cccccc;}
  0% {background: #666666;}
  0% {background: #666666;}
  0% {background: #666666;}
  0% {background: #666666;}

}

@keyframes background-color-change {
    0% {background-color: #4285F4;}
    6% {background-color: #5a95f5;} //1
    12% {background-color: #72a4f7;} //2
    18% {background-color: #8ab4f8;} //3
    24% {background-color: #ffe5e5;} //4
    30%{background-color: #ff9999;} //5
    36% {background-color: #ff7f7f;} //6
    42% {background-color: #ff6666;} //7
    48% {background-color: #ff6666;} //8
    54% {background-color: #ff7f7f;} //9
    60%{background-color: #ff9999;} //10
    66% {background-color: #ffe5e5;} //11
    72% {background-color: #8ab4f8;} //12
    78% {background-color: #72a4f7;} //13
    84% {background-color: #5a95f5;} //14
    100% {background-color: #4285F4;} //15

}
